USE [master]
GO
/****** Object:  Database [KOMP_KURS]    Script Date: 20.08.2023 23:44:10 ******/
CREATE DATABASE [KOMP_KURS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KOMP_KURS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOME\MSSQL\DATA\KOMP_KURS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KOMP_KURS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOME\MSSQL\DATA\KOMP_KURS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KOMP_KURS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KOMP_KURS]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 20.08.2023 23:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Device_ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Model_Type] [nvarchar](50) NOT NULL,
	[Device_Type] [nvarchar](50) NOT NULL,
	[User_ID] [int] NOT NULL,
	[BreakdownReason] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Device_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.08.2023 23:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Device_Type] [nvarchar](50) NOT NULL,
	[Device_Model] [nvarchar](50) NOT NULL,
	[Problem] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.08.2023 23:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.08.2023 23:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Role_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Device_ID], [Model], [Model_Type], [Device_Type], [User_ID], [BreakdownReason]) VALUES (1, N'Монитор', N'Модель A', N'Тип устройства A', 1, N'Не работает после обновления ПО')
INSERT [dbo].[Devices] ([Device_ID], [Model], [Model_Type], [Device_Type], [User_ID], [BreakdownReason]) VALUES (2, N'Принтер', N'Модель B', N'Тип устройства B', 2, N'Странный звук при печати')
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_ID], [Device_Type], [Device_Model], [Problem], [Name], [Phone], [Email]) VALUES (9, N'ПК', N'АСУС', N'ДА', N'Серёжа', N'восьмеричный', N'Не пишите мне')
INSERT [dbo].[Orders] ([Order_ID], [Device_Type], [Device_Model], [Problem], [Name], [Phone], [Email]) VALUES (10, N'wrgs', N'wrg', N'wgrf', N'Пашка', N'Потерял', N'Boo4ik@Da.ru')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [Password], [Login], [Role_ID]) VALUES (1, N'12345', N'login1', 1)
INSERT [dbo].[Users] ([User_ID], [Password], [Login], [Role_ID]) VALUES (2, N'12345', N'login2', 2)
INSERT [dbo].[Users] ([User_ID], [Password], [Login], [Role_ID]) VALUES (1012, N'12345', N'pasha', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
USE [master]
GO
